<!-- references:
https://www.techiediaries.com/angular-conditional-rendering-example-with-ngif-directive/
https://angular.io/api/forms/Validators
 -->

<h1 *ngIf="!cart.length" class="empty-cart-message">your cart is empty, please add some items</h1>
<div *ngIf="cart.length" class="container">
    <div class="cart-container">
        <app-cart-product-item *ngFor="let product of cart" [product]="product"
            (removeFromCart)="removeFromCart($event)">
        </app-cart-product-item>
    </div>
    <div class="cart-container">
        <h2>total price = ${{getTotalPrice()}}</h2>
        <form #form="ngForm" (ngSubmit)="submitForm()" class="form-margin cart-container">
            <input type="text" name="username" required minlength="8" maxlength="32" [(ngModel)]="username"
                placeholder="Enter your name" #userInput="ngModel">
            <textarea type="text" name="address" required minlength="16" [(ngModel)]="address"
                placeholder="Enter your address" #userAddress="ngModel"></textarea>
            <input type="text" name="cardNumber" required pattern="^[0-9]{8}$" [(ngModel)]="cardNumber"
                placeholder="Enter your card number" #userCard="ngModel" />
            <input type="submit" [disabled]="form.invalid" value="checkout">
        </form>
        <div class="form-error" *ngIf="userInput.invalid && userInput.dirty">
            <div *ngIf="userInput.errors && userInput.errors['required'] !==null">
                please type a name between 8 and 32 characters
            </div>
        </div>
        <div class="form-error" *ngIf="userAddress.invalid && userAddress.dirty">
            <div *ngIf="userAddress.errors && userAddress.errors['required'] !==null">
                address is required with minimum 16 characters
            </div>
        </div>
        <div class="form-error" *ngIf="userCard.invalid && userCard.dirty">
            <div *ngIf="userCard.errors && userCard.errors['required'] !==null">
                8 digits number required
            </div>
        </div>
    </div>
</div>