.cart-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 64px;
}

.container {
  display: flex;
  flex-direction: row;
  margin: 30px;
}

.form-error{
  color:red;
}

.empty-cart-message {
  display: flex;
  justify-content: center;
  margin-top: 64px;
}